body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, #5d4157, #a8caba);
  min-height: 200vh;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 0.5s ease-in-out;
}

.hidden footer {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(70px);
  transition: all 0.5s ease-in-out;
}

.show {
  margin-top: 110px;
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

@media (prefers-reduced-motion: reduce) {
  .hidden {
    transition: none;
  }
}

/* Nav section */
nav {
  background: linear-gradient(to right, #1d2b64, #f8cdda);
  color: #ffffff;
  overflow: hidden;
  padding: 0 20px;
}

.navlinks {
  display: flex;
  list-style: none;
  float: inline-end;
  margin-bottom: 62px;
}

.button {
  display: inline-block;
  vertical-align: right;
  border: 2px solid #e5e4df;
  border-radius: 100px;
  justify-content: space-evenly;
  margin-right: 20px;
  padding: 0.75rem 2rem;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  color: #e5e4df;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.button:hover {
  background-color: #e5e4df;
  color: #35424a;
}

.namelink {
  border: none;
  outline: none;
  display: inline-block;
  color: #e5e4df;
  text-decoration: none;
  width: auto;
  font-size: 22px;
  font-weight: lighter;
  margin-top: 43px;
  padding: 0 58px;
}

/* family section */

#fam {
  padding: 96px 24px 48px;
}

h1 {
  font-size: 7rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}

#fam p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}
.container {
  display: flex;
  padding: 96px 24px 48px;
  justify-content: center;
  align-items: center;
  background: #f3f1fe;
}

.card {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  margin: 30px;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.1);
}

.card figure {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
  position: relative;
}

.card figure::before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 1rem solid #f3f1fe;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.card figure img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  text-align: center;
  margin: 2rem;
  line-height: 1.5;
  color: #101010;
}

/* gallery section */
.alternating {
  animation-name: alternating-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes alternating-text {
  90% {
    display: none;
  }
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  color: #ffffff;
  padding: 180px 20px;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  text-align: justify;
  scroll-behavior: smooth;
}

#gallery h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
  transition: color 0.3s ease;
}

#gallery h2:hover {
  color: #35424a;
  cursor: pointer;
}

#gallery span {
  font-size: 50px;
  font-weight: 500;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  -webkit-background-clip: text; /* There is no error here, while it might shows a yellow warning nothing is really of serious matter is happening */
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
  transition: color 0.3s ease;
}

.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.thumbnails {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.thumbnails div {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: #aaa;
  border-radius: 100%;
}

.thumbnails div.highlighted {
  background-color: #777;
}

.slides {
  margin: 0 16px;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  width: 540px;
  padding: 0 0.25rem;
  height: 720px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slides > div {
  scroll-snap-align: start;
}

.slides img {
  width: 540px;
  object-fit: contain;
}

.slides::-webkit-scrollbar {
  display: none;
}

.galbutton {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #e5e4df;
  border-radius: 100px;
  justify-content: left;
  margin-top: -309px;
  padding: 0.95rem 2rem;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  color: #e5e4df;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.galbutton:hover {
  background-color: #e5e4df;
  color: #35424a;
}

/* footer */
footer {
  background-color: #35424a;
  color: #ffffff;
  padding: 20px 20px;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  scroll-behavior: smooth;
}

footer h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
  color: #e5e4df;
}

footer h3 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
  color: #e5e4df;
}

footer p {
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px 0;
  color: #e5e4df;
}

footer img {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
  border-radius: 50%;
  vertical-align: middle;
}

footer .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  text-align: justify;
  scroll-behavior: smooth;
}

footer .contact a {
  color: #e5e4df;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
}

footer .footerlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  text-align: justify;
  scroll-behavior: smooth;
}

footer .footerlinks a {
  display: flex;
  justify-content: space-around;
  color: #e5e4df;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
}

footer .footerlinks a:hover {
  color: #fff;
}

footer .contactform {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  text-align: justify;
  scroll-behavior: smooth;
}

footer .contactform input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
}

footer .contactform input:hover {
  border: 1px solid #e5e4df;
}

footer .contactform .textemail {
  width: 300px;
  height: 70px;
  margin: 0 10px, 0 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 10px;
  margin: 0 10px;
  font-size: 20px;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
}

footer .contactform button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0 20px;
  margin: 0 20px;
  font-size: 20px;
  font-weight: lighter;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

footer .contactform button:hover {
  background-color: #e5e4df;
  color: #35424a;
}

footer .footer-bottom {
  background-color: #35424a;
  color: #ffffff;
  padding: 20px 20px;
  margin-top: 120px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  scroll-behavior: smooth;
}
