body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(to right, #5d4157, #a8caba);
  min-height: 200vh;
  min-block-size: 100vh;
  padding: 5vmin;
  transition-delay: 2s;
  transition: all 2s ease-in-out;
}

body.dark {
  background: linear-gradient(to right, #200122, #6f0000);
  color: #ffffff;
  transition-delay: 2s;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* Nav section */
nav {
  background: linear-gradient(to right, #1d2b64, #f8cdda);
  color: #ffffff;
  overflow: hidden;
  padding: 0 20px;
}

.navlinks {
  display: flex;
  list-style: none;
  float: inline-end;
  margin-bottom: 62px;
}

.button {
  display: inline-block;
  vertical-align: right;
  border: 2px solid #e5e4df;
  border-radius: 100px;
  justify-content: space-evenly;
  margin-right: 20px;
  padding: 0.75rem 2rem;
  width: auto;
  background-color: rgba(0, 0, 0, 0);
  color: #e5e4df;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.theme-toggle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e4df;
  border-radius: 100px;
  padding: 0.75rem 2rem;
  margin: 40px 60px 0 579px;
  background-color: rgba(254, 255, 254, 0.993);
  color: #e5e4df;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  transition-delay: 1ms;
  transform: scale(1);
}

.theme-toggle-icon:hover,
.theme-toggle-icon:focus {
  background-color: #e5e4df;
  color: #35424a;
  transform: scale(1.1);
}
.button:hover {
  background-color: #e5e4df;
  color: #35424a;
}

.namelink {
  border: none;
  outline: none;
  display: inline-block;
  color: #e5e4df;
  text-decoration: none;
  width: auto;
  font-size: 22px;
  font-weight: lighter;
  margin-top: 43px;
  padding: 0 58px;
}

/* gallery section */

img {
  block-size: auto;
  max-inline-size: 100%;
  vertical-align: middle;
}

/* Embed */

.embed {
  overflow: hidden;
  padding-block-start: 100%;
  position: relative;
}

.embed--1-2 {
  padding-top: calc(100% / (1 / 2));
}

.embed--2-1 {
  padding-top: calc(100% / (2 / 1));
}

.embed--2-3 {
  padding-top: calc(100% / (2 / 3));
}

.embed > * {
  height: 100%;
  left: 0;
  object-fit: cover;
  padding: 0.25em;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Gallery  */

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.gallery__item--h-2 {
  grid-column-end: span 2;
}

.gallery__item--h-3 {
  grid-column-end: span 3;
}

.gallery__item--v-2 {
  grid-row-end: span 2;
}

.gallery__item--v-3 {
  grid-row-end: span 3;
}
